
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
/* header section styles */
.header-section{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 80px;
}

/* shared styles */
 .shared-color{
    color: #0D1321;
}

/* nav style */
 .nav-title{
    font-weight: 800;
    font-size: 28px;
}
.btn-st{
    background-color: none;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 24px;
} 
.contact-button{
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 17px 24px;
    color: white;
    text-decoration: none;
    

}

/* banner */ 

.main-header-div {
    display: grid;
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: 80%;


} 

.head{
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
    /* margin: 50px 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-heading{
    font-size: 35px;
    font-weight: bold;
}

.banner-discription{
    font-weight: 100;
    font-size: 10px;
}

.cont-btn{
    
    /* background-color: #0D1321;  */
    font-size: 15px;
    font-weight: bold;
    padding: 20px 24px;
    border-radius: 10px;
}

/* main section */
.why-web-dev{
    text-align: center;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 32px 97px;
}
.why-dev-content{
    padding: 25px;
    font-size: 16px;
    margin: 32px 97px;
}
.first-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inspiration{
    text-align: center;
    font-size: 32;
    justify-content: center;
    align-items: center;
}
.inspiration-content{
    font-size: 16px;
}

.tergate-section{
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.trgt{
    display: flex;
    margin-right: 24px;
}
.html1{
    text-align: start;
    font-size: 16px;
}
.css1{
    text-align: start;
    font-size: 16px;
}
.js1{
    text-align: start;
    font-size: 16px;
}
.trgt-html{
    background-color: #f2e0dc;
    margin-right: 24px;
    padding: 0 10px 5px 10px;
}
.trgt-css{
    background-color: #e5ecfb;
    margin-right: 24px;
    padding: 0px 12px 5px 12px;
    
}
.trgt-js{
    background-color: #f4edc1;
    margin-right: 24px;
    padding: 0 12px 5px 12px;
}
/* button */
.btn-lrn{
    font-size: small;
    font-weight: 400;
   
}

/* help section */
input{
    width: 548px;
    height: 57px;
}
.Support {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    width: 1100px;
    height: 313px;
    margin: 64px 5px ;
    border-radius: 10px;
}


.color{
    color: #FFFFFF;
}
.support-text{
    color: #fbfbfb;
    width: 606px;
    height: 52px;
}

.suggestion{
    display: flex;
    padding: 19px 100px 19px 100px;
    /* margin-right: 16px; */
    border-radius: 80px;
}
.s1{
    margin-left: 16px;
    width: 120px;
    height: 67px;
    padding: 17px 20px;
    border-radius: 10px;
}

/* footer section */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav div {
    margin-right: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin-left: 24px; 
}
